.entered {
  background: blue;
  border: 1px solid #999;
  font-size: 30px;
  font-weight: bold;
  height: 75px;
  text-align: center;
  width: 75px;
  outline-color: black;
  outline-width: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    font-size: 30px;
    font-weight: bold;
    height: 75px;
    text-align: center;
    width: 75px;
  }

.square:focus {
  background: orange;
  outline-color: black;
  outline-width: 10px;
}

.simulation {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: row;
}